In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('isd-history.csv')
df

,USAF,WBAN,STATION NAME,CTRY,STATE,ICAO,LAT,LON,ELEV(M),BEGIN,END
0,007018,99999,WXPOD 7018,NaN,NaN,NaN,0.000,0.000,7018.0,20110309,20130730
1,007026,99999,WXPOD 7026,AF,NaN,NaN,0.000,0.000,7026.0,20120713,20170822
2,007070,99999,WXPOD 7070,AF,NaN,NaN,0.000,0.000,7070.0,20140923,20150926
3,008260,99999,WXPOD8270,NaN,NaN,NaN,0.000,0.000,0.0,20050101,20120731
4,008268,99999,WXPOD8278,AF,NaN,NaN,32.950,65.567,1156.7,20100519,20120323
...,...,...,...,...,...,...,...,...,...,...,...
29654,A07355,241,VIROQUA MUNICIPAL AIRPORT,US,WI,KY51,43.579,-90.913,394.1,20140731,20250212
29655,A07357,182,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,KY63,45.986,-95.992,367.3,20140731,20250212
29656,A07359,240,IONIA COUNTY AIRPORT,US,MI,KY70,42.938,-85.061,249.0,20140731,20250212
29657,A51255,445,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,KDYA,32.464,-87.954,34.1,20140731,20250212
29658,A51256,451,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,KFWB,36.699,-93.402,411.2,20140731,20250213

In [4]:
df.columns

Index(['USAF', 'WBAN', 'STATION NAME', 'CTRY', 'STATE', 'ICAO', 'LAT', 'LON',
       'ELEV(M)', 'BEGIN', 'END'],
      dtype='object')

In [5]:
df['CTRY'].unique()

array([nan, 'AF', 'NO', 'SV', 'FO', 'SW', 'SZ', 'FI', 'UK', 'IM', 'GB',
       'EI', 'IC', 'GL', 'DA', 'WA', 'NL', 'BE', 'LU', 'CH', 'LS', 'FR',
       'PO', 'SP', 'GI', 'AZ', 'PT', 'CV', 'GM', 'GQ', 'AU', 'IT', 'EZ',
       'LO', 'PL', 'HU', 'SI', 'HR', 'RI', 'EG', 'KV', 'BK', 'MJ', 'MK',
       'XK', 'RS', 'AL', 'RO', 'BU', 'BG', 'MT', 'GR', 'TU', 'TR', 'CY',
       'RU', 'EN', 'BO', 'LG', 'LH', 'KZ', 'UP', 'MD', 'AM', 'GG', 'UZ',
       'KG', 'AJ', 'TX', 'TI', 'SY', 'LE', 'IS', 'JO', 'SA', 'KU', 'BA',
       'QA', 'AE', 'YM', 'MU', 'IZ', 'IR', 'OM', 'PK', 'IN', 'BT', 'CE',
       'MV', 'MG', 'NP', 'HK', 'MC', 'TW', 'KN', 'KS', 'KR', 'JA', 'JP',
       'BM', 'TH', 'MY', 'SN', 'LA', 'VM', 'CB', 'CN', 'CP', 'EH', 'WI',
       'MO', 'MR', 'MB', 'AG', 'LY', 'DZ', 'TS', 'TN', 'NG', 'ML', 'SG',
       'GA', 'PU', 'GV', 'SL', 'SH', 'AY', 'TP', 'IO', 'FS', 'JU', 'RE',
       'EU', 'MP', 'TE', 'US', 'SU', 'OD', 'ET', 'ER', 'DJ', 'BP', 'SO',
       'UG', 'KE', 'TZ', 'SE', 'CG', 'RW', 'BY', 'CF', 'CD', 'CT', 'EK',
       'CM', 'NI', 'BN', 'TO', 'GH', 'UV', 'IV', 'LI', 'AO', 'MF', 'MA',
       'MZ', 'ZA', 'MI', 'ZM', 'ZI', 'BC', 'SF', 'WZ', 'LT', 'BV', 'CO',
       'RP', 'CA', 'AS', 'PM', 'PS', 'SB', 'BR', 'CS', 'RQ', 'TD', 'BF',
       'BD', 'FQ', 'ID', 'RM', 'AQ', 'PP', 'TV', 'NH', 'FJ', 'NC', 'CQ',
       'MX', 'TK', 'CU', 'CJ', 'JM', 'HA', 'DR', 'HO', 'VQ', 'GJ', 'VI',
       'BH', 'GT', 'ES', 'NU', 'AV', 'DO', 'MH', 'SC', 'AC', 'NN', 'NT',
       'GP', 'ST', 'VC', 'BB', 'AA', 'UC', 'VE', 'GY', 'NS', 'FG', 'EC',
       'PE', 'CI', 'BL', 'CL', 'AR', 'PA', 'PY', 'UY', 'FK', 'SX', 'MQ',
       'FM', 'WQ', 'JQ', 'LQ', 'NR', 'TL', 'WS', 'WF', 'CW', 'NE', 'DQ',
       'FP', 'PC', 'NZ', 'NF', 'BX', 'KT', 'CK', 'TT', 'PH', 'GU', 'PN'],
      dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29659 entries, 0 to 29658
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   USAF          29659 non-null  object
 1   WBAN          29659 non-null  int64
 2   STATION NAME  28868 non-null  object
 3   CTRY          28765 non-null  object
 4   STATE         6534 non-null   object
 5   ICAO          10840 non-null  object
 6   LAT           28473 non-null  float64
 7   LON           28472 non-null  float64
 8   ELEV(M)       28369 non-null  float64
 9   BEGIN         29659 non-null  int64
 10  END           29659 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 2.5+ MB

In [11]:
fdf = df[df['LON'].notnull()]
fdf

,USAF,WBAN,STATION NAME,CTRY,STATE,ICAO,LAT,LON,ELEV(M),BEGIN,END
0,007018,99999,WXPOD 7018,NaN,NaN,NaN,0.000,0.000,7018.0,20110309,20130730
1,007026,99999,WXPOD 7026,AF,NaN,NaN,0.000,0.000,7026.0,20120713,20170822
2,007070,99999,WXPOD 7070,AF,NaN,NaN,0.000,0.000,7070.0,20140923,20150926
3,008260,99999,WXPOD8270,NaN,NaN,NaN,0.000,0.000,0.0,20050101,20120731
4,008268,99999,WXPOD8278,AF,NaN,NaN,32.950,65.567,1156.7,20100519,20120323
...,...,...,...,...,...,...,...,...,...,...,...
29654,A07355,241,VIROQUA MUNICIPAL AIRPORT,US,WI,KY51,43.579,-90.913,394.1,20140731,20250212
29655,A07357,182,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,KY63,45.986,-95.992,367.3,20140731,20250212
29656,A07359,240,IONIA COUNTY AIRPORT,US,MI,KY70,42.938,-85.061,249.0,20140731,20250212
29657,A51255,445,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,KDYA,32.464,-87.954,34.1,20140731,20250212
29658,A51256,451,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,KFWB,36.699,-93.402,411.2,20140731,20250213

In [14]:
fdf['LAT'].isnull().value_counts()

LAT
False    28472
Name: count, dtype: int64

In [17]:
rescols = ['USAF', 'WBAN', 'STATION NAME', 'LAT', 'LON']

In [18]:
ffdf = fdf[rescols]
ffdf

,USAF,WBAN,STATION NAME,LAT,LON
0,007018,99999,WXPOD 7018,0.000,0.000
1,007026,99999,WXPOD 7026,0.000,0.000
2,007070,99999,WXPOD 7070,0.000,0.000
3,008260,99999,WXPOD8270,0.000,0.000
4,008268,99999,WXPOD8278,32.950,65.567
...,...,...,...,...,...
29654,A07355,241,VIROQUA MUNICIPAL AIRPORT,43.579,-90.913
29655,A07357,182,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,45.986,-95.992
29656,A07359,240,IONIA COUNTY AIRPORT,42.938,-85.061
29657,A51255,445,DEMOPOLIS MUNICIPAL AIRPORT,32.464,-87.954
29658,A51256,451,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,36.699,-93.402